
/*---------------- BASE -----------------*/

body {
    font-family: $body-font;
    font-size: $p-regular-size;
}

h1 {
    font-family: $body-second-font;
    font-size: $h1-large-size;
    line-height: $h1-large-line-height;
    font-weight: $font-regular;
}

h2 {
    font-family: $body-second-font;
    font-size: $h2-regular-size;
    line-height: $h2-regular-line-height;
    font-weight: $font-regular;
}

h3 {
    font-family: $body-second-font;
    font-size: $h3-big-size;
    line-height: $h3-big-line-height;
    font-weight: $font-regular;
}

h4 {
    font-family: $body-second-font;
    font-size: $h4-regular-size;
    line-height: $h4-regular-line-height;
    font-weight: $font-regular;
}

h1.small {
    font-family: $body-second-font;
    font-size: $h1-small-size;
    line-height: $h1-small-line-height;
    font-weight: $font-regular;
}

h3.small {
    font-family: $body-second-font;
    font-size: $h3-small-size;
    line-height: $h3-small-line-height;
    font-weight: $font-regular;
}

ul {
    list-style: none;
}

a {
   text-decoration: none;
}

