.footer__container {
  
  text-align: center;

  color:$link-water-white;
  margin-top: 2.56rem;
  background-color: $mirage-blue;
  background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;


}

