/*--------------GOOGLE FONTS---------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");
/*--------------VARIABLES CSS--------------*/
/*--------------Colors--------------*/
/*--------------Font and Typography--------------*/
/*--------------Font weight--------------*/
/*---------------- BASE -----------------*/
body {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 400;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

h1.small {
  font-family: "DM Serif Display", serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400;
}

h3.small {
  font-family: "DM Serif Display", serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*---------------BUTTONS------------------*/
.primary-button-normal {
  width: 10.8125rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  border: none;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  color: #fbfcfe;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: -0.00719rem;
}
.primary-button-normal:hover {
  background-color: #da6d97;
}
.primary-button-normal:disabled {
  background-color: #ba4270;
  opacity: 0.5;
  pointer-events: none;
}

.secondary-button-normal {
  width: 8.0625rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 1px solid #fbfcfe;
  color: #fbfcfe;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 400;
  font-weight: 700;
  letter-spacing: -0.00719rem;
}
.secondary-button-normal:hover {
  background-color: #fff;
  border-radius: 1.5rem;
  color: #1b262f;
}
.secondary-button-normal:disabled {
  background-color: transparent;
  opacity: 0.5;
  border-radius: 1.5rem;
  border: 1px solid #fbfcfe;
  pointer-events: none;
}

.secondary-submit-normal {
  width: 9.5rem;
  height: 3rem;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: -0.00719rem;
  border-radius: 1.5rem;
  border: 1px solid #36536b;
  background-color: transparent;
}
.secondary-submit-normal:hover {
  background-color: #36536b;
  color: #fff;
}
.secondary-submit-normal:disabled {
  background-color: transparent;
  opacity: 0.5;
  border-radius: 1.5rem;
  border: 1px solid #36536b;
  pointer-events: none;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* For small devices */
@media screen and (max-width: 767px) {
  body {
    background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: top -30rem center;
  }
  .header__container .nav {
    position: fixed;
    top: 3rem;
    right: 3rem;
    display: inline-block;
    max-width: 3.125rem;
    max-height: 3.125rem;
    overflow: visible;
    outline: none;
  }
  .header__container .nav.is-active .nav__toggle:before, .header__container .nav.is-active .nav__toggle:after {
    box-shadow: none;
    background-color: #fff;
  }
  .header__container .nav.is-active .nav__toggle:before {
    transform: rotate(-45deg);
  }
  .header__container .nav.is-active .nav__toggle:after {
    transform: rotate(45deg);
  }
  .header__container .nav.is-active .nav__menu {
    transform: translate(0, 0);
  }
  .header__container .nav .nav__toggle {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    transform: translateY(-1.5rem);
  }
  .header__container .nav .nav__toggle:hover {
    cursor: pointer;
  }
  .header__container .nav .nav__toggle:after {
    content: "";
    position: absolute;
    left: 2rem;
    top: 5rem;
    bottom: 0rem;
    width: 50%;
    height: 0.01rem;
    background-color: #fff;
  }
  .header__container .nav .nav__toggle:before, .header__container .nav .nav__toggle:after {
    content: "";
    position: absolute;
    top: 1.125rem;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 0.25rem;
    background: #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .header__container .nav .nav__toggle:before {
    box-shadow: 0 0.8333333333rem 0 0 #000;
  }
  .header__container .nav .nav__toggle:after {
    box-shadow: 0 -0.8333333333rem 0 0 #000;
  }
  .header__container .nav .nav__menu {
    position: absolute;
    top: -3rem;
    right: -4rem;
    left: auto;
    min-width: 18.75rem;
    max-width: 40vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 5rem 1.25rem 1.25rem 0.625rem;
    transition: transform 0.3s ease;
    transform: translate(calc(100% + 3.125rem), 0);
    background: linear-gradient(to bottom, rgba(27, 38, 47, 0.75), rgba(27, 38, 47, 0.9), rgba(27, 38, 47, 0.95));
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    grid-gap: 0.3125rem 0;
    align-content: start;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.3019607843);
    text-align: center;
    overflow: hidden;
  }
  .header__container .nav .nav__link {
    color: #fbfcfe;
    font-family: "Public Sans", sans-serif;
    text-decoration: none;
    padding: 0.625rem;
    transition: background-color 0.3s ease;
    transform: translateY(3rem);
    opacity: 0.7;
  }
  .header__container .nav .nav__link:hover {
    cursor: pointer;
    color: #d6d6d6;
  }
  .header__container .nav .nav__link:first-child:before {
    content: "";
    position: absolute;
    left: 1rem;
    text-align: center;
    top: -0.5rem;
    bottom: 0rem;
    width: 90%;
    height: 0.0625rem;
    background-color: #fbfcfe;
    opacity: 0.15;
  }
  .header__container .nav .nav__menu > button {
    position: absolute;
    transform: translate(3.8rem, 16rem);
    font-family: "Public Sans", sans-serif;
  }
  .header__container .nav__logo {
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .header__container .nav__header {
    margin: 1rem 2rem 2rem 1rem;
  }
  .main__container {
    border: 2px solid #000;
    background-color: #ff00bb;
  }
  .main__container .api__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .companies__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .implement__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .app__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .finances__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .demo__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .innovators__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .vision__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .picture__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .statistics__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .culture__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .help__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .main__container .registration__container {
    height: 200px;
    border: 1px solid #000;
    font-size: 1.3rem;
    text-align: center;
  }
  .footer__container {
    background-position: top 11.06rem center;
    height: 353px;
    text-align: center;
    color: #000;
    margin-top: 2.56rem;
  }
  .footer__container .api__logo {
    margin-top: 2.56rem;
  }
  .footer__container .footer__nav {
    display: flex;
    flex-direction: column;
  }
  .footer__container .footer__nav a {
    color: #fbfcfe;
    margin-top: 1.94rem;
  }
  .footer__container .api__media {
    margin-top: 1.94rem;
  }
  .footer__container .api__media img {
    margin-left: 0.97rem;
    margin-right: 0.97rem;
  }
}
/* For medium devices */
/* @media screen and (min-width: 576px){

  } */
@media screen and (min-width: 768px) {
  body {
    background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: top -30rem right -23rem;
  }
  .header__container .nav__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
    margin-top: 1.3rem;
  }
  .header__container .nav__header .nav__toggle {
    display: none;
  }
  .header__container .nav__header .nav__menu {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr;
  }
  .header__container .nav__header .nav__link {
    display: grid;
    align-self: center;
    font-family: "Public Sans", sans-serif;
    color: #36536b;
    font-weight: 700;
    font-size: 0.9375rem;
    opacity: 0.7;
  }
  .header__container .footer__container {
    width: 100%;
    margin-left: 0;
    background-position: left 21.19rem top -9.46rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .header__container .footer__container .api__logo {
    margin-left: 2.44rem;
    margin-top: 1.94rem;
  }
  .header__container .footer__container .footer__nav {
    display: flex;
    flex-direction: row;
    margin-top: 1.63rem;
    gap: 2rem;
  }
  .header__container .footer__container .footer__nav a {
    color: #fbfcfe;
    margin-top: 1rem;
  }
  .header__container .footer__container .api__media {
    margin-top: 2.38rem;
  }
  .header__container .footer__container .api__media img {
    margin-left: 0.97rem;
    margin-right: 0.97rem;
  }
  /* For large devices */
  /* @media screen and (min-width: 992px){
  } */
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  body {
    background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: right -8rem top -7rem;
  }
  .header__container .nav__menu > button {
    margin-left: 1rem;
  }
  .header__container .footer__container {
    width: 100%;
    background-position: left 65.62rem top -9.46rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0rem;
  }
  .header__container .footer__container .api__logo {
    margin-left: 10.25rem;
    margin-top: 1.94rem;
  }
  .header__container .footer__container .footer__nav {
    display: flex;
    flex-direction: row;
    margin-top: 1.63rem;
    gap: 2rem;
  }
  .header__container .footer__container .footer__nav a {
    color: #fbfcfe;
    margin-top: 1rem;
  }
  .header__container .footer__container .api__media {
    margin-top: 2.38rem;
    margin-left: 34.3rem;
  }
  .header__container .footer__container .api__media img {
    margin-left: 0.97rem;
    margin-right: 0.97rem;
  }
}
body {
  font-family: "Public Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
